{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
About the Pokémon TCG
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

<style>
    .tcg-logo img,
    .pokemon-cards img {
        margin: auto;
        display: block;
    }

    .tcg-logo img {
        height: 245.25px;
        width: 480px;
    }

    .pokemon-cards img {
        height: 338.25px;
        width: 450px;
    }
</style>
<div class="info-container">
    <div class="container-1">
        <h1>About the Pokémon TCG</h1>
        <p>Pokémon was invented by Satoshi Tajiri and Ken Sugimori. The first two Pokémon games, Red and Green, were
            released in Japan on 27 February 1996. The games were released in the US in 1998 as Red and Blue. The
            Pokémon Trading Card Game (TCG) was created after the success of the video games. The first set was released
            on 20 October 1996 in Japan, and the cards were introduced to North America in 1999. Pokémon tournaments
            began, and the first World Championships (Worlds) was held in 2000. Worlds has been held annually since
            2004, except in 2020 and 2021 due to the COVID-19 pandemic.</p>
        <div class="pokemon-cards">
            <img src="{% static 'images/pokemon_cards.jpeg' %}" alt="Pokémon cards">
        </div>
    </div>
    <div class="container-2">
        <h1>Rules and Strategies</h1>
        <ul>
            <li>
                <p>Check out our <a href="{% url 'about:quickstart' %}">quick-start guide</a> for a beginner's
                    introduction to the TCG.</p>
            </li>
            <li>The offical Pokémon website is a great resource for <a
                    href="https://www.pokemon.com/uk/pokemon-tcg/rules">rules</a> and <a
                    href="https://www.pokemon.com/uk/strategy?articleType=strategy&articleTopic=trading-card-game">strategies</a>
            </li>
            <li>If you have any TCG-related questions, check out our <a
                    href="{% url 'community:tcg_forum' %}">forum</a>.</li>
            <li>YouTube has many helpful videos related to the TCG. Some notable accounts include <a
                    href="https://www.youtube.com/@tablemon">Tablemon</a>, <a
                    href="https://www.youtube.com/@TheShuffleSquadTCG">The Shuffle Squad</a>, and <a
                    href="https://www.youtube.com/@TrickyGym">Tricky Gym</a>.</li>
        </ul>
        <div class="tcg-logo">
            <img src="{% static 'images/tcg_logo.jpg' %}" alt="Pokémon TCG logo">
        </div>
    </div>
</div>
{% endblock %}