{% extends 'learning/base.html' %}
{% load static %}
{% block title_block %}
User Profile
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<body>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row  d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25">
                                        <div class="image-container"><img
                                                src="{% static 'images/' %}{{ user.profile.image }}" class="img-radius"
                                                alt="User-Profile-Image"></div>
                                    </div>
                                    <h6 class="f-w-600" style="font-size: 24px; color: black;">
                                        {{user.first_name }} {{ user.last_name }}</h6>
                                    <p style="font-size: 14px; color: black;">{{ user.username }}</p> <i
                                        class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                    <div style="margin-top: 10px;">
                                        <button class="btn btn-primary" id="logout-btn"><a id="fa"
                                                href="{% url 'account:profile_update' %}"
                                                style="color: white; text-decoration: none;">Update Profile</a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">{{ user.email }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">User Role</p>
                                            <h6 class="text-muted f-w-400">
                                                {% if user.profile.is_student %}
                                                Student
                                                {% elif user.profile.is_teacher %}
                                                Teacher
                                                {% elif user.profile.is_parent %}
                                                Parent
                                                {% else %}
                                                Not Assigned
                                                {% endif %}</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Recent Activity</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Posts You've Created</p>
                                            <h6 class="text-muted f-w-400">{% if recent_questions %}
                                                <ul>
                                                    {% for question in recent_questions %}
                                                    <li><a href="{{ question.get_absolute_url }}">
                                                            {{ question.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                <p class="text-muted">No recent questions.</p>
                                                {% endif %}
                                            </h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Posts You've Commented On</p>
                                            <h6 class="text-muted f-w-400">
                                                {% if commented_questions %}
                                                <ul>
                                                    {% for question in commented_questions %}
                                                    <li><a href="{{ question.get_absolute_url }}">
                                                            {{ question.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                <p class="text-muted">No recent comments.</p>
                                                {% endif %}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}