   body {
       margin-top: 100px;
       font-family: 'Poppins', sans-serif;
   }

   #header-content {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   #fh3 {
       text-align: left;
       font-size: 20px;
       padding-top: 15px;
   }

   #fh6 {
       text-align: right;
       font-size: 20px;
       font-weight: normal;
   }

   .about p {
       font-size: 20px;
   }