.homepage-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.first-container,
.second-container,
.third-container,
.fourth-container {
    flex: 1 1 45%;
    border: 5px solid #316cbc;
    padding: 25px;
    margin: 20px;
    box-sizing: border-box;
    min-width: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.first-container,
.second-container {
    order: 1;
}

.third-container,
.fourth-container {
    order: 2;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-1,
.image-2,
.image-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-1 img,
.image-2 img,
.image-3 img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.image-2 img {
    max-height: 320px;
}

.imagecontainer {
    max-width: 100%;
    padding: 10px;
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.imagecontainer .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.imagecontainer .image-row {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.imagecontainer .image {
    flex: 1 1 150px;
    max-width: 150px;
    height: auto;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.imagecontainer .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.imagecontainer .image:hover {
    transform: scale(1.1);
}

.imagecontainer .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.imagecontainer .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 10px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.imagecontainer .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .imagecontainer .image {
        max-width: calc(50% - 15px);
    }
}

.learn-more,
.check {
    text-align: center;
    font-size: 30px;
}

.homepage-container h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.homepage-container h2 {
    font-weight: bold;
}