{% extends 'learning/base.html' %}

{% block title_block %}
Question Details
{% endblock %}

{% block body_block %}
    <h3>{{ question.title }}</h3>
    <hr>
    <h6>{{ question.content|safe }}</h6>
    <hr>
    <h6>Asked By: <a href="{% url 'profile' %}">{{ question.user|title }}</a> | On: {{ question.date_created|date:"j F, Y" }}</h6>
    <br>
    <!-- Answers section -->
    <h2>Answers...</h2>
    <br>
    {% if not question.comment.all %}
        <h3>No Answers yet...</h3>
    {% else %}
        {% for comment in question.comment.all %}
            <h3>{{ comment.content|safe }}</h3>
            <h3>Answered by: <a href="">{{ comment.name }}</a> - On: {{ comment.date_created|date:"j F, Y" }}</h3>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}
