{% extends "learning/base.html" %}

{% block title_block %}
TCG Forum
{% endblock %}

{% block body_block %}
<style>
    body {
        margin-top: 100px;
        font-family: 'Poppins', sans-serif;
    }

    #header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #fh3 {
        text-align: left;
        font-size: 19px;
        padding-top: 15px;
    }

    #fh6 {
        text-align: right;
        font-size: 15px;
        font-weight: normal;
    }
</style>

<body>
    <div id="header-content">
        <h1>TCG Forum</h1>
        {% if user.is_authenticated %}
        <a href="{% url 'community:tcg_question_create' %}" id="question-button" class="btn btn-primary">Ask a
            Question</a>
        {% else %}
        <a href="{% url 'auth_login' %}" id="question-button" class="btn btn-primary">Ask a Question</a>
        {% endif %}
    </div>

    <p style="font-size: 16px;">This forum is for asking and answering TCG-related questions.</p>

    <div class="container">
        <div class="list-question">
            <div class="questions">
                {% for question in questions %}
                <div class="container"
                    style="background: #f2f2f2; padding: 5px; box-shadow: rgba(0, 0, 0, 0.383) 0px 5px 5px 0px; border-radius: 15px;">
                    <div id="title-sec" style="display: flex; align-items: center;">
                        <h3 id="fh3"><a href="{% url 'community:tcg_question_details' question.id %}">
                                {{ question.title }}</a></h3>
                    </div>
                    <hr>
                    {% if question.content|wordcount <= 10 %} <h6 id="fh6" style="text-align: left;">
                        {{ question.content|safe }}</h6>
                        {% else %}
                        <h6 id="fh6" style="text-align: left;">{{ question.content|truncatewords_html:10|safe}}</h6>
                        {% endif %}
                        <h6 id="fh6" style="font-size: 10px; font-style: italic; color: rgb(155, 155, 155);">Asked By:
                            <a href="">{{ question.user.username }}</a>&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; On:
                            {{question.date_created|date:"j F, Y"}}
                        </h6>
                </div> <br>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}