{% extends 'learning/base.html' %}

{% block title_block %}
Question Details
{% endblock %}

{% block body_block %}
<div class="list-question">
    <div class="questions">
        <div class="container"
            style="background-color: #f2f2f2; padding: 5px; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px; border-radius: 20px;">
            <h3 id="fh3">{{ object.title }}</h3>
            <h6 id="fh6" style="font-size: 10px; font-style: italic; color: rgb(155, 155, 155); text-align: right;">
                Asked By: {{ object.user.username }} | On: {{ object.date_created|date:"j F, Y" }}</h6>
            <p>{{ object.content|safe }}</p>
            <br>
            <h2>Answers...</h2> <br><br><br>

            {% if not object.tcg_comments.all %}
            <h3>No Answers yet...</h3>
            {% else %}
            {% for comment in object.tcg_comments.all %}
            <h3 style="font-weight: normal; font-size: 15px;">{{ comment.content|safe }}</h3>
            <h3 style="font-size: 10px;">Answered by: {{ comment.name }} - On: {{ object.date_created|date:"j F, Y" }}
            </h3>
            <hr>
            {% endfor %}
            {% endif %}

            <a class="btn btn-outline-primary" id="fa" href="{% url 'community:tcg_question_comment' pk=object.pk %}"
                style="text-decoration: none;">Answer Question</a>
            <a style="text-decoration: none; " class="btn btn-outline-success"
                href="{% url 'community:tcg_question_update' pk=object.id %}">&#x270E;</a>
            <a style="text-decoration: none; " class="btn btn-outline-danger"
                href="{% url 'community:tcg_question_delete' pk=object.id %}">&#x2716;</a>
            <a style="text-decoration: none; " class="btn btn-outline-secondary"
                href="{% url 'community:tcg_forum' %}">&#x21a9;</a>
        </div>
    </div>
</div>
{% endblock %}