{% extends 'learning/base.html' %}

{% load static %}

{% block title_block %}
Question Details
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/questiondetails.css' %}">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<body>
    <div id="header-content">
        <h1>Question Details</h1>
    </div>
    <div class="list-question">
        <div class="questions">
            <div class="container"
                style="background: #f2f2f2; padding: 5px; box-shadow: rgba(0, 0, 0, 0.383) 0px 5px 5px 0px; border-radius: 15px;">
                <h3 id="fh3">{{object.title}}</h3>
                <hr>
                <h6 id="fh6">{{ object.content|safe }}</h6>
                <hr>
                <h6 id="fh6" style="font-size: 10px; font-style: italic; color: rgb(155, 155, 155); text-align: right;">
                    Asked By: {{ object.user.username|title }}</a>&nbsp;&nbsp;&nbsp;
                    |&nbsp;&nbsp;&nbsp; On: {{ object.date_created|date:"j F, Y" }}</h6>
                <h2>Answers...</h2> <br><br><br>
                {% if not object.tcg_comments.all %}
                <h3>No Answers yet...</h3>
                {% else %}
                {% for comment in object.tcg_comments.all %}
                <h3 style="font-weight: normal; font-size: 15px;">{{comment.content|safe}}</h3>
                <h3 style="font-size: 10px;">Answered by: <i>{{comment.user}}</a> - On:
                        {{comment.date_created|date:"j F, Y"}}</i></h3>
                <hr>
                {% endfor %}
                {% endif %}
                <a class="btn btn-outline-primary" href="{% url 'community:tcg_question_comment' pk=object.pk %}"
                    style="text-decoration: none;">Answer Question</a>
                <a style="text-decoration: none; " class="btn btn-outline-success"
                    href="{% url 'community:tcg_question_update' pk=object.id %}">&#x270E;</a>
                <a style="text-decoration: none; " class="btn btn-outline-danger"
                    href="{% url 'community:tcg_question_delete' pk=object.id %}">&#x2716;</a>
                <a style="text-decoration: none; " class="btn btn-outline-secondary"
                    href="{% url 'community:tcg_forum' %}">&#x21a9;</a> <br><br>
            </div> <br>
        </div> <br>
    </div> <br>
</body>
{% endblock %}