{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Addition and Subtraction of Whole Numbers
{% endblock %}
{% block body_block %}

<head>
    <link rel="stylesheet" href="{% static 'css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'css/popupimage.css' %}">
    <script src="{% static 'js/add-sub.js' %}" defer></script>
</head>

<header>
    <h1>Addition and Subtraction of Whole Numbers</h1>
</header>

<div class="lesson-container">
    <div class="content">
        <main>
            <section>
                <h2>Introduction:</h2>
                <p>Addition is combining two numbers together to get a new total (called the <b>sum</b>). Subtraction is
                    when you take one number away from another number to get a new number (called the
                    <b>difference</b>).
                </p>
            </section>

            <section>
                <h2>Addition:</h2>
                <p>Begin by lining up the rightmost digit (tens position) of each number. Add from right to left,
                    carrying as needed.</p>
                <p><u>Example</u>: Espeon's Pokédex number is 196. Decidueye's Pokédex number is 724. Let's add them
                    together and see what Pokédex number we get.</p>
                <video width="320" height="240" controls>
                    <source src="{% static 'videos/addition.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p>196 + 724 = 920, which is Lokix's Pokédex number!</p>
            </section>

            <section>
                <h2>Subtraction:</h2>
                <p>Begin by lining up the rightmost digit (tens position) of each number. Subtract from right to left,
                    borrowing as needed.</p>
                <p><u>Example</u>: Poipole's Pokédex number is 803. Genesect's Pokédex number is 649. Let's subtract
                    them and see what Pokédex number we get.</p>
                <video width="320" height="240" controls>
                    <source src="{% static 'videos/subtraction.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p>803 - 649 = 154, which is Meganium's Pokédex number!</p>
            </section>

            <section>
                <h2>You Try:</h2>
                <p>Use the two cards to answer the two questions below. <b>Click on a card to view it in a larger
                        size</b>.</p>
                <p><u>Check your answers using the "Check
                        Answer" buttons. Once you have both of the correct answers, submit the practice using the
                        "Submit Practice" button.</u></p>

                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/Cetitan.png' %}" alt=""></div>
                        <div class="image"><img src="{% static 'images/Tyranitar.png' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
                <h3><u>Question 1</u>:</h3>
                <p>If your Cetitan has a Special Energy attached, how much damage will its Special Horn attack do?</p>

                <!-- Question 1 form and feedback -->
                <form id="form1" onsubmit="checkAnswer1(event)">
                    {% csrf_token %}
                    <label for="damageOutput"><b>Special Horn's damage output</b></label>
                    <input type="number" min="0" id="damageOutput" name="damageOutput" style="width: 100px;" required>
                    <input type="submit" value="Check Answer" id="submitBtn1">
                </form>
                <p id="feedback1"></p>

                <h3><u>Question 2</u>:</h3>
                <p>Your opponent's Tyranitar attacks your Cetitan with Rout, doing 90 damage. How many hit points does
                    your Cetitan have left?</p>

                <!-- Question 2 form and feedback -->
                <form id="form2" onsubmit="checkAnswer2(event)">
                    {% csrf_token %}
                    <label for="remainingHP"><b>Cetitan's remaining HP</b></label>
                    <input type="number" min="0" id="remainingHP" name="remainingHP" style="width: 100px;" required>
                    <input type="submit" value="Check Answer" id="submitBtn2">
                </form>
                <p id="feedback2"></p>

                <!-- final submission form -->
                <form id="final-form" method="post" action="{% url 'learning:submit_practice' practice.slug %}"
                    style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="correct" value="True">
                    <button type="submit">Submit Practice</button>
                </form>
            </section>
        </main>
    </div>
    <div class="details">
        <h1>Computation Content</h1>
        <ul>
            <li><a
                    href="{% url 'learning:practice_detail' practice_slug='addition-and-subtraction-of-whole-numbers' %}">Addition
                    and Subtraction of Whole Numbers</a></li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='multiplication-of-whole-numbers' %}">Multiplication
                    of Whole Numbers</a></li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='computation-quiz' %}">Computation Quiz</a></li>
        </ul>
        <p class="back"><a href="{% url 'learning:gr4' %}">Go back to the Grade 4 page</a></p>
    </div>
</div><br>
{% endblock %}