{% extends 'learning/students.html' %}
{% load static %}

{% block title_block %}
Area and Perimeter of Rectangles
{% endblock %}

{% block body_block %}
<header>
    <h1>Area and Perimeter of Rectangles</h1>
</header>

<main>
    <section>
        <h2>Introduction:</h2>
        <p>A rectangle is a two-dimensional figure with four straight sides and four right angles. Opposite sides are
            parallel and equal. The longer side of the rectangle is referred to as the length, while the shorter side is
            called the width. In the special case where a rectangle's width and length are equal, it is a square.</p>
    </section>

    <section>
        <h2>Area: </h2>
        <p>Area is the amount of space inside a shape. For a rectangle, this is calculated by multiplying the length
            times the width. <b>Example</b>:</p>
    </section>

    <section>
        <h2>Perimeter:</h2>
        <p>Perimeter is the distance around the outisde of a shape. For a rectangle, this is calculated by multiplying
            two times the length, multiplying two times the width, and then adding those values together.<b>Example</b>:
        </p>
    </section>

    <section>
        <h2>You Try:</h2>
        <p> A Pokémon playmat is approximately 61 centimeters wide and 36 centimeters long. Find the area and perimeter
            of a playmat.</p>
        <figure>
            <img src="{% static 'images/playmat.jpg' %}" alt="playmat">
        </figure>

        <!-- Question 1 form and feedback -->
        <form onsubmit="checkAnswer1(event)">
            <label for="area">Area of a playmat (in square centimeters, ex: 1234)</label>
            <!-- limit input to whole numbers and make it required -->
            <input type="number" min="0" id="area" name="area" style="width: 50px;" required>
            <input type="submit" value="Submit" id="submitBtn1">
        </form>
        <p id="feedback1"></p>

        <!-- Question 2 form and feedback -->
        <form onsubmit="checkAnswer2(event)">
            <label for="perimeter">Perimeter of a playmat (in centimeters, ex: 567)</label>
            <!-- limit input to whole numbers and make it required -->
            <input type="number" min="0" id="perimeter" name="perimeter" style="width: 50px;" required>
            <input type="submit" value="Submit" id="submitBtn2">
        </form>
        <p id="feedback2"></p>
    </section>
</main>

<script>
    // Question 1 logic (area)
    function checkAnswer1(event) {
        event.preventDefault(); // prevent default form submission

        var area = document.getElementById('area').value.trim();
        var correctAnswer = 2196;
        var feedback = document.getElementById('feedback1');
        var inputField = document.getElementById('area');
        var submitButton = document.getElementById('submitBtn1');

        // validate input
        if (!area.checkValidity()) {
            feedback.textContent = 'Invalid input. Please enter a whole number';
            return;
        }

        // check for correct answer and provide feedback
        if (parseInt(area) === correctAnswer) {
            feedback.textContent = 'Correct! 61 * 36 = 2196. Well done!';
            inputField.disabled = true; // disable input field
            submitButton.disabled = true; // disable submit button
        } else {
            feedback.textContent = 'Incorrect. Please try again.';
        }
    }

    //Question 2 logic (perimeter)
    function checkAnswer2(event) {
        event.preventDefault(); // prevent default form submission

        var perimeter = document.getElementById('perimeter').value.trim();
        var correctAnswer = 194;
        var feedback2 = document.getElementById('feedback2');
        var inputField = document.getElementById('perimeter');
        var submitButton = document.getElementById('submitBtn2');

        // validate input
        if (!perimeter.checkValidity()) {
            feedback2.textContent = 'Invalid input. Please enter a whole number';
            return;
        }

        // check for correct answer and provide feedback
        if (parseInt(perimeter) === correctAnswer) {
            feedback2.textContent = 'Correct! 2*61 + 2*36 = 194. Well done!';
            inputField.disabled = true; // disable input field
            submitButton.disabled = true; // disable submit button
        } else {
            feedback2.textContent = 'Incorrect. Please try again.';
        }
    }
</script>
{% endblock %}