<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <p>Welcome to the main page! </p>
  <a href="{% url 'learning:index' %}">Learning Hub</a> &nbsp;&nbsp;
  <a href="{% url 'community:community' %}">Community</a> &nbsp;&nbsp;
  <a href="{% url 'about:about' %}">About</a> &nbsp;&nbsp;
  <a href="{% url 'account:account' %}">Account</a>
  <br> <img src="{% static 'images/pokemon_logo.png' %}" alt="Pokemon logo" />
</body>
</html>