{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Comparing Whole Numbers
{% endblock %}
{% block body_block %}

<head>
    <link rel="stylesheet" href="{% static 'css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'css/popupimage.css' %}">
    <script src="{% static 'js/comp-whole.js' %}" defer></script>
</head>

<header>
    <h1>Comparing Whole Numbers</h1>
</header>

<div class="lesson-container">
    <div class="content">
        <main>
            <section>
                <h2>Introduction:</h2>
                <p>Two whole numbers can be compared using <b>&gt;</b> (greater than), <b>&lt;</b> (less than), and
                    <b>=</b> (equals) symbols.
                </p>
            </section>

            <section>
                <h2>Greater Than:</h2>
                <p>The greater than symbol (<b>&gt;</b>) is used to show that the number to the left has a higher value
                    than the number on the right.</p>
                <p><u>Example</u>: Pidgey weighs 4 pounds. Celebi weights 11 pounds. 11 is greater than 4, and we write
                    that as 11 &gt; 4.</p>
            </section>

            <section>
                <h2>Less Than:</h2>
                <p>The less than symbol (<b>&lt;</b>) is used to show that the number to the left has a lesser value
                    than the number on the right.</p>
                <p><u>Example</u>: Lucario weighs 119 pounds. Zapdos weighs 116 pounds. 116 is less than 119, and we
                    write that as 116 &lt; 119.</p>
            </section>

            <section>
                <h2>Equals:</h2>
                <p>The equals symbol (<b>=</b>) is used to show that two numbers are equal in value.</p>
                <p><u>Example</u>: Weavile weighs 75 pounds. Boldtund weighs 75 pounds. Since these two values are the
                    same, we can write that as 75 = 75.</p>
            </section>

            <section>
                <h2>You Try:</h2>
                <p>Look at the HP of Charizard ex and Pidgeot ex. Compare the two values using <b>&gt;</b>, <b>=</b>, or
                    <b>&lt;</b>. <b>Click on a card to view it in a larger size</b>.
                </p>
                <p><u>Check your answer using the "Check Answer" button. Once you have the correct answer, submit the
                        practice using the "Submit Practice" button.</u>
                </p>
                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/Charizard.png' %}" alt="Charizard ex"></div>
                        <div class="image"><img src="{% static 'images/Pidgeot.png' %}" alt="Pidgeot ex"></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
                <!-- practice submission and feedback -->
                <form id="practice-form" onsubmit="checkAnswer(event)"
                    action="{% url 'learning:submit_practice' practice.slug %}" method="post">
                    {% csrf_token %}
                    <label for="comparisonSymbol"><b>Charizard ex's HP</b></label>
                    <input type="text" id="comparisonSymbol" name="comparisonSymbol" style="width: 40px;" required>
                    <b>Pidgeot ex's HP</b>
                    <input type="submit" value="Check Answer" id="submitBtn">
                </form>
                <p id="feedback"></p>
                <form id="final-form" method="post" action="{% url 'learning:submit_practice' practice.slug %}"
                    style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="correct" value="True">
                    <button type="submit">Submit Practice</button>
                </form>
            </section>
        </main>
    </div>
    <div class="details">
        <h1>Number Sense Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='comparing-whole-numbers' %}">Comparing Whole
                    Numbers</a></li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='comparing-decimals' %}">Comparing Decimals</a>
            </li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='number-sense-quiz' %}">Number Sense Quiz</a></li>
        </ul>
        <p class="back"><a href="{% url 'learning:gr4' %}">Go back to the Grade 4 page</a></p>
    </div>
</div><br>
{% endblock %}