{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Converting Units
{% endblock %}

{% block body_block %}
<header>
    <h1>Converting Units</h1>
</header>

<main>
    <section>
        <h2>Introduction:</h2>
        <p>Content here</p>
    </section>

    <section>
        <h2>Example 1: </h2>
        <p>Content here</p>
    </section>

    <section>
        <h2>Example 2:</h2>
        <p>Content here</p>
    </section>

    <section>
        <h2>You Try:</h2>
        <p> Yveltal is 19 feet tall. How many inches is that?</p>
        <figure>
            <img src="{% static 'images/Yveltal.png' %}" alt="Yveltal Pokémon card">
        </figure>

        <!-- answer submission and feedback -->
        <form onsubmit="checkAnswer(event)">
            <label for="comparisonSymbol">Yveltal's height in inches</label>
            <!-- limit input to whole numbers and make it required -->
            <input type="number" min="0" id="height" name="height" style="width: 40px;" required>
            <input type="submit" value="Submit" id="submitBtn">
        </form>
        <p id="feedback"></p>
    </section>
</main>

<script>

    //method to check You Try answer
    function checkAnswer(event) {
        event.preventDefault(); // prevent default form submission

        var height = document.getElementById('height').value.trim();
        var correctAnswer = 228;
        var feedback = document.getElementById('feedback');
        var inputField = document.getElementById('height');
        var submitButton = document.getElementById('submitBtn');

        // validate input
        if (!height.checkValidity()) {
            feedback.textContent = 'Invalid input. Please enter a whole number';
            return;
        }

        // check for correct answer and provide feedback
        if (parseInt(height) === correctAnswer) {
            feedback.textContent = 'Correct! 19 * 12 = 228. Well done!';
            inputField.disabled = true; // disable input field
            submitButton.disabled = true; // disable submit button
        } else {
            feedback.textContent = 'Incorrect. Please try again.';
        }
    }
</script>
{% endblock %}