{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Data Analysis Quiz
{% endblock %}
{% block body_block %}

<link rel="stylesheet" href="{% static 'css/quiz.css' %}">
<link rel="stylesheet" href="{% static 'css/popupimage.css' %}">

<style>
    .imgcontainer .image-container .image {
        height: 335px !important;
        width: 330px !important;
    }
</style>
<header>
    <h1>Data Analysis Quiz</h1>
</header>

<div class="quiz-container">
    <div class="content">
        <main>
            <section>
                <h2>Instructions:</h2>
                <p>The following data was collected from EUIC 2024. These are the decks that made Day 2.
                    Use the data to answer the questions below. <b>Click on the image to view it in a larger size</b>.
                </p>
                <p><u>When you are finished with the quiz, press the "Submit Quiz" button.</u></p>

                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/EUIC.jpeg' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
            </section> <br>

            <form method="post" action="{% url 'learning:submit_quiz' quiz_slug=quiz.slug %}">
                {% csrf_token %}
                <div class="question">
                    <p>1.) Which deck has the second greatest meta share?</p>
                    <label><input type="radio" name="question1" value="Chien-Pao ex" required>Chien-Pao ex</label><br>
                    <label><input type="radio" name="question1" value="Other" required>Other</label><br>
                    <label><input type="radio" name="question1" value="Charizard ex" required>Charizard ex</label><br>
                </div> <br>
                <div class="question">
                    <p>2.) <b>True</b> or <b>False</b>: Charizard ex, Chien-Pao ex, and Arceus VSTAR make up half of the
                        meta.</p>
                    <label><input type="radio" name="question2" value="True" required>True</label><br>
                    <label><input type="radio" name="question2" value="False" required>False</label><br>
                </div> <br>
                <div class="question">
                    <p>3.) Ancient Box and another deck are tied for the lowest meta share. What is the other deck?</p>
                    <label><input type="radio" name="question3" value="Snorlax Stall" required>Snorlax Stall</label><br>
                    <label><input type="radio" name="question3" value="Pidgeot Control" required>Pidgeot
                        Control</label><br>
                    <label><input type="radio" name="question3" value="None of the above" required>None of the
                        above</label><br>
                </div> <br>
                <div class="question">
                    <p>4.) Charizard ex makes up approximately what percentage of the meta?</p>
                    <label><input type="radio" name="question4" value="25" required>25</label><br>
                    <label><input type="radio" name="question4" value="20" required>20</label><br>
                    <label><input type="radio" name="question4" value="10" required>10</label><br>
                </div> <br>
                <div class="question">
                    <p>5.) <b>True</b> or <b>False</b>: A bar group could also be used to display this information.</p>
                    <label><input type="radio" name="question5" value="True" required>True</label><br>
                    <label><input type="radio" name="question5" value="False" required>False</label><br>
                </div> <br>
                <button type="submit">Submit Quiz</button>
            </form>
        </main>
    </div>
    <div class="details">
        <h1>Data Analysis Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='representing-data' %}">Representing Data</a>
            </li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='interpreting-data' %}">Interpreting Data</a>
            </li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='data-analysis-quiz' %}">Data Analysis Quiz</a></li>
        </ul>
    </div>

    <script>
        // Function to handle popup display
        document.querySelectorAll(".image img").forEach(image => {
            image.onclick = () => {
                document.querySelector(".popup-image").style.display = "block";
                document.querySelector(".popup-image img").src = image.getAttribute("src");
            };
        });

        // Close popup when clicking outside the image
        document.querySelector(".popup-image").onclick = (event) => {
            if (event.target.classList.contains('popup-image')) {
                document.querySelector(".popup-image").style.display = "none";
            }
        };
    </script>
</div><br>
{% endblock %}