{% extends 'learning/base.html' %}

{% block title_block %}
Enroll Student
{% endblock %}

{% block body_block %}
<style>
    .btn-primary,
    .btn-secondary {
        margin: 5px;
    }
</style>
<h1>Enroll a Student</h1>
<p>Enroll a student in a class</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enroll Student</button><button class="btn btn-secondary"
        type="button">
        <a href="{% url 'learning:view_class' course.id %}" style="color: white; text-decoration: none;">Go Back</a>
    </button>
</form> <br>
{% endblock %}