{% extends 'learning/base.html' %}

{% load static %}

{% block title_block %}
Quiz Explanations - {{ quiz.title }}
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/explanations.css' %}">

<h1>{{ quiz.title }} - Explanations</h1>
<table>
    <tr>
        <th style="width: 20%;">Question</th>
        <th style="width: 20%;">Correct Answer</th>
        <th>Explanation</th>
    </tr>
    {% for question, correct_answer in correct_answers.items %}
    <tr>
        <td> {% if question == "question1" %}
            Question 1
            {% elif question == "question2" %}
            Question 2
            {% elif question == "question3" %}
            Question 3
            {% elif question == "question4" %}
            Question 4
            {% elif question == "question5" %}
            Question 5
            {% else %}
            No question number available.
            {% endif %}</td>
        <td>{{ correct_answer }}</td>
        <td>
            {% if question == "question1" %}
            Each foot is 12 inches, so we multiply 13 * 12 = 156 inches.
            {% elif question == "question2" %}
            Area is length times width, so 24 * 23 = 552 square inches.
            {% elif question == "question3" %}
            Perimeter is twice the length plus twice the width, so 24*2 + 23*2 = 48 + 46 = 94 inches.
            {% elif question == "question4" %}
            Area is length times width, so 88 * 63 = 5544 square millimeters.
            {% elif question == "question5" %}
            You are 5 * 12 = 60 inches tall. 63 > 60, so Decidueye is taller.
            {% else %}
            No explanation available.
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table><br>
{% endblock %}