{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Geometry Quiz
{% endblock %}
{% block body_block %}

<link rel="stylesheet" href="{% static 'css/quiz.css' %}">
<link rel="stylesheet" href="{% static 'css/popupimage.css' %}">

<style>
    .imgcontainer .image-container .image {
        height: 272px !important;
        width: 400px !important;
    }
</style>
<header>
    <h1>Geometry Quiz</h1>
</header>

<div class="quiz-container">
    <div class="content">
        <main>
            <section>
                <h2>Instructions:</h2>
                <p>Use the cards to answer the five questions below. <b>Click on the image to view it in a larger
                        size</b>.</p>
                <p><u>When you are finished with the quiz, press the "Submit Quiz" button.</u></p>
                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/basicenergy.jpg' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
            </section> <br>

            <form method="post" action="{% url 'learning:submit_quiz' quiz_slug=quiz.slug %}">
                {% csrf_token %}
                <div class="question">
                    <p>1.) Yes or No: Do any of the Basic Energy symbols have BOTH vertical and horizontal symmetry?</p>
                    <input type="text" name="question1" style="width: 100px;" required>
                </div> <br>
                <div class="question">
                    <p>2.) How many of the Basic Energy symbols are symmetrical?</p>
                    <input type="text" name="question2" style="width: 100px;" required>
                </div> <br>
                <div class="question">
                    <p>3.) The shape of a Pokémon card has what kind of symmetry?</p>
                    <select name="question3" required>
                        <option value="">Select an answer</option>
                        <option value="vertical">Vertical</option>
                        <option value="horizontal">Horizontal</option>
                        <option value="both">Both</option>
                    </select>
                </div> <br>
                <div class="question">
                    <p>4.) <b>True</b> or <b>False</b>: The Psychic Energy symbol is symmetrical.</p>
                    <select name="question4" required>
                        <option value="">Select an answer</option>
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                </div> <br>
                <div class="question">
                    <p>5.) Of the following Basic Energy symbols, which does NOT have vertical symmetry?</p>
                    <select name="question5" required>
                        <option value="">Select an answer</option>
                        <option value="Darkness">Darkness</option>
                        <option value="Metal">Metal</option>
                        <option value="Fighting">Fighting</option>
                    </select>
                </div> <br>
                <button type="submit">Submit Quiz</button>
            </form>
        </main>
    </div>
    <div class="details">
        <h1>Geometry Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='lines-of-symmetry' %}">Lines of Symmetry</a>
            </li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='identifying-geometric-shapes' %}">Identifying
                    Geometric Shapes</a></li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='geometry-quiz' %}">Geometry Quiz</a></li>
        </ul>
    </div>

    <script>
        // Function to handle popup display
        document.querySelectorAll(".image img").forEach(image => {
            image.onclick = () => {
                document.querySelector(".popup-image").style.display = "block";
                document.querySelector(".popup-image img").src = image.getAttribute("src");
            };
        });

        // Close popup when clicking outside the image
        document.querySelector(".popup-image").onclick = (event) => {
            if (event.target.classList.contains('popup-image')) {
                document.querySelector(".popup-image").style.display = "none";
            }
        };
    </script>
</div><br>
{% endblock %}