{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Grade 1
{% endblock %}
{% block body_block %}
<style>
    .unit-list {
        font-size: 28px;
    }
</style>
<header>
    <h1>Grade 1 Units</h1>
</header>

{% if user.is_authenticated %}
<p>Grade 1 covers a, b, c, d, e, and f. Select a unit to view its contents.</p>
{% else %}
<p>Please <a href="{% url 'auth_login' %}">login</a> to view the contents of each unit.</p>
{% endif %}

<ol class="unit-list">
    <li><a href="">Unit 1</a></li>
    <li><a href="">Unit 2</a></li>
    <li><a href="">Unit 3</a></li>
    <li><a href="">Unit 4</a></li>
    <li><a href="">Unit 5</a></li>
    <li><a href="">Unit 6</a></li>
</ol>
{% endblock %}