<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Grade 4</title>
</head>

<body>
    <h1>Grade 4</h1>
    <h2>Lessons</h2>
    <ul>
        <li>
            <h3>Number Sense</h3>
            <ul>
                <a href="{% url 'learning:comparing_whole' %}">
                    <li>Comparing Whole Numbers</li>
                </a>
                <a href="{% url 'learning:comparing_decimal' %}">
                    <li>Comparing Decimals</li>
                </a>
                <a href="{% url 'learning:ns_quiz' %}">
                    <li>Number Sense Quiz</li>
                </a>
            </ul>
        </li>
        <li>
            <h3>Computation</h3>
            <ul>
                <a href="{% url 'learning:add_subtract' %}">
                    <li>Addition and Subtraction of Whole Numbers</li>
                </a>
                <a href="{% url 'learning:multiplication' %}">
                    <li>Multiplication of Whole Numbers</li>
                </a>
            </ul>
        </li>
        <li>
            <h3>Algebraic Thinking</h3>
            <ul>
                <a href="{% url 'learning:rw_whole' %}">
                    <li>Real-World Problems with Whole Numbers</li>
                </a>
                <a href="{% url 'learning:rw_fraction' %}">
                    <li>Real-World Problems with Fractions</li>
                </a>
            </ul>
        </li>
        <li>
            <h3>Geometry</h3>
            <ul>
                <a href="{% url 'learning:symmetry' %}">
                    <li>Lines of Symmetry</li>
                </a>
                <a href="{% url 'learning:classifying_shapes' %}">
                    <li>Classifying Geometric Shapes</li>
                </a>
            </ul>
        </li>
        <li>
            <h3>Measurement</h3>
            <ul>
                <a href="{% url 'learning:converting_units' %}">
                    <li>Converting Units</li>
                </a>
                <a href="{% url 'learning:area_perimeter' %}">
                    <li>Area and Perimeter of Rectangles</li>
                </a>
            </ul>
        </li>
        <li>
            <h3>Data Analysis</h3>
            <ul>
                <a href="{% url 'learning:representing' %}">
                    <li>Representing Data</li>
                </a>
                <a href="{% url 'learning:interpreting' %}">
                    <li>Interpreting Data</li>
                </a>
            </ul>
        </li>
    </ul>

    <nav>
        <a href="{% url 'learning:dashboard' %}">Student Dashboard</a><br>
        <a href="{% url 'learning:students_home' %}">Student Home</a><br>
        <a href="{% url 'learning:learning_home' %}">Learning Home</a><br>
        <a href="{% url 'index' %}">Home</a>
    </nav>

</body>

</html>