{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Grade 4
{% endblock %}
{% block body_block %}
<style>
    .unit-list {
        font-size: 28px;
    }
</style>
<header>
    <h1>Grade 4 Units</h1>
</header>
<ol class="unit-list">
    <li><a href="{% url 'learning:unit_detail' unit_slug='number-sense' %}">Number Sense</a></li>
    <li><a href="{% url 'learning:unit_detail' unit_slug='computation' %}">Computation</a></li>
    <li><a href="{% url 'learning:unit_detail' unit_slug='algebraic-thinking' %}">Algebraic Thinking</a></li>
    <li><a href="{% url 'learning:unit_detail' unit_slug='geometry' %}">Geometry</a></li>
    <li><a href="{% url 'learning:unit_detail' unit_slug='measurement' %}">Measurement</a></li>
    <li><a href="{% url 'learning:unit_detail' unit_slug='data-analysis' %}">Data Analysis</a></li>
</ol>
{% endblock %}