{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Grade 8
{% endblock %}
{% block body_block %}

<link rel="stylesheet" href="{% static 'css/grade.css' %}">

<header>
    <h1>Grade 8 - COMING SOON</h1>
</header>

<div class="grade-container">
    <div class="content">
        {% if user.is_authenticated %}
        <p>Grade 8 covers A, B, C, D, E, and, F. Select a unit to view its contents.</p>
        {% else %}
        <p>Please <a href="{% url 'auth_login' %}">login</a> to view the contents of each unit.</p>
        {% endif %}
        <img src="{% static 'images/classroom.jpg' %}" alt="classroom">
    </div>
    <div class="unit-list">
        <h1>Units</h1>
        <ol>
            <li><a href="">Unit 1</a></li>
            <li><a href="">Unit 2</a></li>
            <li><a href="">Unit 3</a></li>
            <li><a href="">Unit 4</a></li>
            <li><a href="">Unit 5</a></li>
            <li><a href="">Unit 6</a></li>
        </ol>
    </div>
</div> <br>
{% endblock %}