<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Geometry: Identifying Geometric Shapes</title>

    <script>
        function validateForm(event) {
            event.preventDefault(); // prevent default form submission

            var shape = document.getElementById('shape').value;
            var correctAnswer = 'parallelogram';
            var feedbackDiv = document.getElementById('feedback');
            var selectField = document.getElementById('shape');
            var submitButton = document.getElementById('submitBtn');

            // check for correct answer and provide feedback
            if (shape === correctAnswer) {
                feedbackDiv.textContent = 'Correct! A Pokémon card is a rectangle, which is a parallelogram. Well done!';
                selectField.disabled = true; // disable select field
                submitButton.disabled = true; // disable submit button
            } else {
                feedbackDiv.textContent = 'Incorrect. Please try again.';
            }
        }
    </script>
</head>

<header>
    <h1>Identifying Geometric Shapes</h1>
</header>

<main>
    <section>
        <h2>Introduction:</h2>
        <p>
        </p>
    </section>

    <section>
        <h2>Parallelograms: </h2>
        <p>

        </p>
    </section>

    <section>
        <h2>Rhombuses:</h2>
        <p>

    </section>

    <section>
        <h2>Trapezoids:</h2>
        <p>

    </section>

    <section>
        <h2>You Try:</h2>
        <p>
        </p>
        <figure>
            <img src="{% static 'images/Turo.png' %}" alt="Professor's Research (Turo)">
        </figure>
        <p>

        </p>
        <form onsubmit="validateForm(event)">
            <label for="shape">Shape of a Pokémon card</label>
            <select id="shape" name="shape">
                <option value="" selected disabled>Select shape</option>
                <option value="parallelogram">parallelogram</option>
                <option value="rhombus">rhombus</option>
                <option value="trapezoid">trapezoid</option>
            </select>
            <input type="submit" value="Submit" id="submitBtn">
        </form>
        <p id="feedback"></p>
    </section>
</main>
<footer>
    <a href="{% url 'learning:gr4' %}">Return to Grade 4 Homepage</a> <br>
    <a href="{% url 'learning:dashboard' %}">Student Dashboard</a> <br>
    <a href="{% url 'learning:students_home' %}">Student Home</a> <br>
    <a href="{% url 'learning:learning_home' %}">Learning Home</a> <br>
    <a href="{% url 'index' %}">Home</a>
</footer>

</html>