{% extends 'learning/students.html' %}
{% load static %}

{% block title_block %}
Interpreting Data
{% endblock %}

{% block body_block %}
<header>
    <h1>Interpreting Data</h1>
</header>

<main>
    <section>
        <h2>Introduction:</h2>
        <p>Content here</p>
    </section>

    <section>
        <h2>Circle Graphs: </h2>
        <p>Content here</p>
    </section>

    <section>
        <h2>You Try:</h2>
        <p> The following data was collected from the 2024 Indianapolis Regional. These are the decks that made Day
            2. Which deck had the greatest share of the meta?</p>
        <figure>
            <img src="{% static 'images/Indianapolis.jpeg' %}" alt="Indianapolis Regional meta share data">
        </figure>

        <!-- answer submission and feedback-->
        <form onsubmit="checkAnswer(event)">
            <label for="greatest">Deck with the greatest meta share</label>
            <!-- dropdown selection problem -->
            <select id="greatest" name="greatest">
                <option value="" selected disabled>Select deck</option>
                <option value="Other">Other</option>
                <option value="Charizard ex">Charizard ex</option>
                <option value="Chien-Pao ex">Chien-Pao ex</option>
                <option value="Arceus VSTAR">Arceus VSTAR</option>
            </select>
            <input type="submit" value="Submit" id="submitBtn">
        </form>
        <p id="feedback"></p>
    </section>
</main>

<script>
    // function to check the answer for the You Try problem
    function checkAnswer(event) {
        event.preventDefault(); // prevent default form submission

        var greatest = document.getElementById('greatest').value;
        var correctAnswer = 'Charizard ex';
        var feedback = document.getElementById('feedback');
        var selectField = document.getElementById('greatest');
        var submitButton = document.getElementById('submitBtn');

        // check for correct answer and provide feedback
        if (greatest === correctAnswer) {
            feedback.textContent = 'Correct! Charizard ex makes up the largest portion of the circle graph. Well done!';
            selectField.disabled = true; // disable select field
            submitButton.disabled = true; // disable submit button
        } else {
            feedback.textContent = 'Incorrect. Please try again.';
        }
    }
</script>
{% endblock %}