{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Interpreting Data
{% endblock %}
{% block body_block %}

<head>
    <link rel="stylesheet" href="{% static 'css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'css/popupimage.css' %}">
    <script src="{% static 'js/interp-data.js' %}" defer></script>
</head>

<style>
    .imgcontainer .image-container .image {
        height: 290px !important;
        width: 295px !important;
    }

    .circle {
        width: 30%;
        height: auto;
    }
</style>
<header>
    <h1>Interpreting Data</h1>
</header>

<div class="lesson-container">
    <div class="content">
        <main>
            <section>
                <h2>Introduction:</h2>
                <p>We can make observations about data displays.</p>
            </section>

            <section>
                <h2>Circle Graphs:</h2>
                <p>A circle graph is a way to represent different categories as parts of a whole. The more of the circle
                    that a part takes up, the more common that category is.</p>
                <p><u>Example</u>: The circle graph below shows the results of asking a classroom of students their
                    favorite color. We can make various observations, such as red and yellow are the least favorite
                    colors because they take up the smallest parts of the circle.</p>
                <img class="circle" src="{% static 'images/circle_graph.jpg' %}"
                    alt="a circle graph comparing favorite colors">
            </section>

            <section>
                <h2>You Try:</h2>
                <p> The following data was collected from the 2024 Indianapolis Regional. These are the decks that made
                    Day 2. Which deck had the greatest share of the meta? <b>Click on the image to view it in a
                        larger size</b>.</p>

                <p><u>Check your answer using the "Check Answer" button. Once you have the correct answer, submit the
                        practice using the "Submit Practice" button.</u></p>

                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/Indianapolis.jpeg' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
                <!-- practice submission and feedback -->
                <form id="practice-form" onsubmit="checkAnswer(event)"
                    action="{% url 'learning:submit_practice' practice.slug %}" method="post">
                    {% csrf_token %}
                    <label for="greatest"><b>Deck with the greatest meta share</b></label>
                    <select id="greatest" name="greatest">
                        <option value="" selected disabled>Select deck</option>
                        <option value="Other">Other</option>
                        <option value="Charizard ex">Charizard ex</option>
                        <option value="Chien-Pao ex">Chien-Pao ex</option>
                        <option value="Arceus VSTAR">Arceus VSTAR</option>
                    </select>
                    <input type="submit" value="Check Answer" id="submitBtn">
                </form>
                <p id="feedback"></p>
                <form id="final-form" method="post" action="{% url 'learning:submit_practice' practice.slug %}"
                    style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="correct" value="True">
                    <button type="submit">Submit Practice</button>
                </form>
            </section>
        </main>
    </div>
    <div class="details">
        <h1>Data Analysis Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='representing-data' %}">Representing Data</a>
            </li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='interpreting-data' %}">Interpreting Data</a>
            </li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='data-analysis-quiz' %}">Data Analysis Quiz</a></li>
        </ul>
        <p class="back"><a href="{% url 'learning:gr4' %}">Go back to the Grade 4 page</a></p>
    </div>
</div><br>
{% endblock %}