{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Lines of Symmetry
{% endblock %}
{% block body_block %}

<head>
    <link rel="stylesheet" href="{% static 'css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'css/doublepopupimage.css' %}">
    <script src="{% static 'js/lines-of-sym.js' %}" defer></script>
</head>

<style>
    /* style for cards */
    .imgcontainer .image-container .image {
        height: 345px !important;
        width: 247.5px !important;
    }

    /* style for rarity symbols */
    .imgcontainer2 .image-container2 .image2 {
        height: 125px !important;
        width: 125px !important;
    }
</style>
<header>
    <h1>Lines of Symmetry</h1>
</header>
<div class="lesson-container">
    <div class="content">
        <main>
            <section>
                <h2>Introduction:</h2>
                <p>A shape has <b>symmetry</b> when it is the same on both sides. If you imagine folding the shape in
                    half, all of the lines should match up on both sides. There are two types of symmetry:
                    <b>horizontal</b> and <b>vertical</b>. Some Pokémon cards have examples of symmetry. Check out the
                    Kingambit and Palafin cards below.
                </p>

                <!-- container for cards -->
                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/Kingambit.png' %}" alt=""></div>
                        <div class="image"><img src="{% static 'images/Palafin.png' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
            </section>

            <section>
                <h2>Horizontal Symmetry:</h2>
                <p>Horizontal symmetry is when you can draw a line across the middle of a shape, and the top part looks
                    the same as the bottom part.</p>
                <p><u>Example</u>: This arrowhead has horizontal symmetry. If we fold it in half across the middle, the
                    top and bottom parts would match up.</p>
                <img class="horizontal" src="{% static 'images/horizontal_symmetry.png' %}"
                    alt="arrowhead with horizontal symmetry">
            </section>

            <section>
                <h2>Vertical Symmetry:</h2>
                <p>Vertical symmetry is when you can draw a line down the middle of a shape, and the left part looks the
                    same as the right part.</p>
                <p><u>Example</u>: This trapezoid has vertical symmetry. If we fold it in half down the middle, the
                    left and right parts would match up.</p>
                <img class="horizontal" src="{% static 'images/vertical_symmetry.png' %}"
                    alt="trapezoid with vertical symmetry">
            </section>

            <section>
                <h2>You Try:</h2>
                <p><b>True</b> or <b>False</b>: The three rarity symbols pictured below are all symmetrical. <b>Click on
                        a rarity symbol to view it in a larger size</b>.</p>

                <p><u>Check your answer using the "Check Answer" button. Once you have the correct answer, submit the
                        practice using the "Submit Practice" button.</u></p>

                <!-- container for symbols -->
                <div class="imgcontainer2">
                    <div class="image-container2">
                        <div class="image2"><img src="{% static 'images/common.png' %}" alt=""></div>
                        <div class="image2"><img src="{% static 'images/uncommon.png' %}" alt=""></div>
                        <div class="image2"><img src="{% static 'images/rare.png' %}" alt=""></div>
                    </div>

                    <div class="popup-image2">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
                <!-- practice submission and feedback -->
                <form id="practice-form" onsubmit="checkAnswer(event)"
                    action="{% url 'learning:submit_practice' practice.slug %}" method="post">
                    {% csrf_token %}
                    <label>
                        <input type="radio" name="TF" value="true"> True
                    </label><br>
                    <label>
                        <input type="radio" name="TF" value="false"> False
                    </label><br>
                    <input type="submit" value="Check Answer" id="submitBtn">
                </form>
                <p id="feedback"></p>
                <form id="final-form" method="post" action="{% url 'learning:submit_practice' practice.slug %}"
                    style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="correct" value="True">
                    <button type="submit">Submit Practice</button>
                </form>
        </main>
    </div>
    <div class="details">
        <h1>Geometry Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='lines-of-symmetry' %}">Lines of Symmetry</a>
            </li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='identifying-geometric-shapes' %}">Identifying
                    Geometric Shapes</a></li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='geometry-quiz' %}">Geometry Quiz</a></li>
        </ul>
        <p class="back"><a href="{% url 'learning:gr4' %}">Go back to the Grade 4 page</a></p>
    </div>
</div><br>
{% endblock %}