{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Lines of Symmetry
{% endblock %}
{% block body_block %}

<link rel="stylesheet" href="{% static 'css/lesson.css' %}">
<link rel="stylesheet" href="{% static 'css/doublepopupimage.css' %}">

<style>
    /* style for cards */
    .imgcontainer .image-container .image {
        height: 345px !important;
        width: 247.5px !important;
    }

    /* style for rarity symbols */
    .imgcontainer2 .image-container2 .image2 {
        height: 125px !important;
        width: 125px !important;
    }
</style>
<header>
    <h1>Lines of Symmetry</h1>
</header>
<div class="lesson-container">
    <div class="content">
        <main>
            <section>
                <h2>Introduction:</h2>
                <p>A shape has <b>symmetry</b> when it is the same on both sides. If you imagine folding the shape in
                    half, all of the lines should match up on both sides. There are two types of symmetry:
                    <b>horizontal</b> and <b>vertical</b>. Some Pokémon cards have examples of symmetry. Check out the
                    Kingambit and Palafin cards below.
                </p>

                <!-- container for cards -->
                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/Kingambit.png' %}" alt=""></div>
                        <div class="image"><img src="{% static 'images/Palafin.png' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
            </section>

            <section>
                <h2>Horizontal Symmetry:</h2>
                <p>Horizontal symmetry is when you can draw a line across the middle of a shape, and the top part looks
                    the same as the bottom part.</p>
                <p><u>Example</u>: This arrowhead has horizontal symmetry.</p>
                <img class="horizontal" src="{% static 'images/horizontal_symmetry.png' %}"
                    alt="arrowhead with horizontal symmetry">
            </section>

            <section>
                <h2>Vertical Symmetry:</h2>
                <p>Vertical symmetry is when you can draw a line down the middle of a shape, and the left part looks the
                    same as the right part.</p>
                <p><u>Example</u>: This trapezoid has vertical symmetry.</p>
                <img class="horizontal" src="{% static 'images/vertical_symmetry.png' %}"
                    alt="trapezoid with vertical symmetry">
            </section>

            <section>
                <h2>You Try:</h2>
                <p><b>True</b> or <b>False</b>: The three rarity symbols pictured below are all symmetrical. <b>Click on
                        a rarity symbol to view it in a larger size</b>.</p>

                <p><u>Check your answer using the "Check Answer" button. Once you have the correct answer, submit the
                        practice using the "Submit Practice" button.</u></p>

                <!-- container for symbols -->
                <div class="imgcontainer2">
                    <div class="image-container2">
                        <div class="image2"><img src="{% static 'images/common.png' %}" alt=""></div>
                        <div class="image2"><img src="{% static 'images/uncommon.png' %}" alt=""></div>
                        <div class="image2"><img src="{% static 'images/rare.png' %}" alt=""></div>
                    </div>

                    <div class="popup-image2">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
                <!-- practice submission and feedback -->
                <form id="practice-form" onsubmit="checkAnswer(event)"
                    action="{% url 'learning:submit_practice' practice.slug %}" method="post">
                    {% csrf_token %}
                    <label>
                        <input type="radio" name="TF" value="true"> True
                    </label><br>
                    <label>
                        <input type="radio" name="TF" value="false"> False
                    </label><br>
                    <input type="submit" value="Check Answer" id="submitBtn">
                </form>
                <p id="feedback"></p>
                <form id="final-form" method="post" action="{% url 'learning:submit_practice' practice.slug %}"
                    style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="correct" value="True">
                    <button type="submit">Submit Practice</button>
                </form>
        </main>
    </div>
    <div class="details">
        <h1>Geometry Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='lines-of-symmetry' %}">Lines of Symmetry</a>
            </li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='identifying-geometric-shapes' %}">Identifying
                    Geometric Shapes</a></li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='geometry-quiz' %}">Geometry Quiz</a></li>
        </ul>
    </div>

    <script>
        // function to check the You Try answer
        function checkAnswer(event) {
            event.preventDefault(); // prevent default form submission

            var selectedOption = document.querySelector('input[name="TF"]:checked');
            var feedback = document.getElementById('feedback');
            var submitButton = document.getElementById('submitBtn');
            var finalForm = document.getElementById('final-form'); // form to submit once the answer is correct

            if (!selectedOption) {
                feedback.textContent = 'Please select an answer.';
                return;
            }

            var selectedValue = selectedOption.value;
            var correctAnswer = 'true';

            if (selectedValue === correctAnswer) {
                feedback.textContent = 'Correct! All 3 symbols have vertical symmetry. Well done!';
                submitButton.disabled = true; // disable submit button
                finalForm.style.display = 'block'; // show the final submission form
            } else {
                feedback.textContent = 'Incorrect. Please try again.';
            }
        }

        // Function to handle popup image display (for cards)
        document.querySelectorAll(".image img").forEach(image => {
            image.onclick = () => {
                document.querySelector(".popup-image").style.display = "block";
                document.querySelector(".popup-image img").src = image.getAttribute("src");
            };
        });

        // Close the popup when clicking outside the image (for cards)
        document.querySelector(".popup-image").onclick = (event) => {
            if (event.target.classList.contains('popup-image')) {
                document.querySelector(".popup-image").style.display = "none";
            }
        };

        // Function to handle popup image display (for symbols)
        document.querySelectorAll(".image2 img").forEach(image => {
            image.onclick = () => {
                document.querySelector(".popup-image2").style.display = "block";
                document.querySelector(".popup-image2 img").src = image.getAttribute("src");
            };
        });

        // Close the popup when clicking outside the image (for symbols)
        document.querySelector(".popup-image2").onclick = (event) => {
            if (event.target.classList.contains('popup-image2')) {
                document.querySelector(".popup-image2").style.display = "none";
            }
        };
    </script>
</div><br>
{% endblock %}