{% extends 'learning/base.html' %}

{% block title_block %}
Measurement
{% endblock %}

{% block body_block %}
<style>
    .unit-content {
        font-size: 28px;
    }
</style>
<h1>Measurement - 4th Grade</h1>
<ul class="unit-content">
    <li><a href="{% url 'learning:practice_detail' practice_slug='converting-units' %}">Converting Units</a></li>
    <li><a href="{% url 'learning:practice_detail' practice_slug='area-and-perimeter-of-rectangles' %}">Area and
            Perimeter of Rectangles</a></li>
    <li><a href="{% url 'learning:quiz_detail' quiz_slug='measurement-quiz' %}">Measurement Quiz</a></li>
</ul>
{% endblock %}