{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Multiplication of Whole Numbers
{% endblock %}

{% block body_block %}
<header>
    <h1>Multiplication of Whole Numbers</h1>
</header>

<main>
    <section>
        <h2>Introduction:</h2>
        <p> Multiplication is
        </p>
    </section>

    <section>
        <h2>Example 1: (whole of up to 4 digits by one digit) </h2>
        <p> Content here

        </p>
    </section>

    <section>
        <h2>Example 2: (two 2 digit)</h2>
        <p>Content here</p>

    </section>

    <section>
        <h2>You Try:</h2>
        <p> Your Gardevoir ex attacks your opponent's Koraidon ex with Miracle Force. How much damage will the attack
            do? (Hint: notice that Koraidon has psychic weakness)
        </p>
        <figure>
            <img src="{% static 'images/Gardevoir.png' %}" alt="Gardevoir ex">
            <img src="{% static 'images/Koraidon.png' %}" alt="Koraidon ex">
        </figure>

        <!-- question form and feedback -->
        <form onsubmit="checkAnswer(event)">
            <label for="inputField">Miracle Force's damage output</label>
            <!-- limit input to whole numbers and make it required -->
            <input type="number" min="0" id="damageOutput" name="damageOutput" style="width: 40px;" required>
            <input type="submit" value="Submit" id="submitBtn">
        </form>
        <p id="feedback"></p>
    </section>
</main>

<script>
    function checkAnswer(event) {
        event.preventDefault(); // prevent default form submission

        var damageOutput = document.getElementById('damageOutput').value.trim();
        var correctAnswer = 380;
        var feedback = document.getElementById('feedback');
        var inputField = document.getElementById('damageOutput');
        var submitButton = document.getElementById('submitBtn');

        // validate input
        if (!damageOutput.checkValidity()) {
            feedback.textContent = 'Invalid input. Please enter a whole number';
            return;
        }

        // check for correct answer and provide feedback
        if (parseInt(damageOutput) === correctAnswer) {
            feedback.textContent = 'Correct! 190 * 2 = 380. Well done!';
            inputField.disabled = true; // disable input field
            submitButton.disabled = true; // disable submit button
        } else {
            feedback.textContent = 'Incorrect. Please try again.';
        }
    }
</script>
{% endblock %}