{% extends 'learning/base.html' %}

{% block title_block %}
Add Class
{% endblock %}

{% block body_block %}
<h1>Add a Class</h1>
<p style="font-size: 16px;">Create a new class by adding the following information.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create Class</button>
    <button class="btn btn-secondary" type="button">
        <a href="{% url 'learning:teacher_dashboard' %}" style="color: white; text-decoration: none;">Go Back</a>
    </button>
</form> <br>
{% endblock %}