{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Number Sense
{% endblock %}
{% block body_block %}

<link rel="stylesheet" href="{% static 'css/unit.css' %}">

<header>
    <h1>Number Sense - 4th Grade</h1>
</header>

<div class="unit-container">
    <div class="content">
        <p>The Number Sense Unit is made up of two lessons and a quiz.</p>
        <img src="{% static 'images/number_sense.jpg' %}" alt="numbers">
    </div>
    <div class="content-list">
        <h1>Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='comparing-whole-numbers' %}">Comparing Whole
                    Numbers</a></li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='comparing-decimals' %}">Comparing Decimals</a>
            </li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='number-sense-quiz' %}">Number Sense Quiz</a></li>
        </ul>
    </div>
</div><br>
{% endblock %}