{% extends 'learning/base.html' %}

{% load static %}

{% block title_block %}
Parent Dashboard
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<style>
    .container-1 {
        width: 50%;
    }
</style>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
<header>
    <h1>Parent Dashboard - {{ user.first_name }} {{ user.last_name }}</h1>
</header>

<p style="font-size: 28px;">Welcome to the Parent Dashboard!</p>
<p style="font-size: 16px;">Here you can add your children to your roster so you can view their progress.</p>

<div class="dashboard-container">
    <div class="container-1">
        <button class="btn btn-outline-danger" type="button">
            <a href="{% url 'learning:remove_child' %}" style="text-decoration: none; color:inherit;">Remove a
                Child</a>
        </button>
        <button class="btn btn-outline-success" type="button">
            <a href="{% url 'learning:add_child' %}" style="text-decoration: none; color:inherit;">Add a Child</a>
        </button>
        <h2>Your Children:</h2>
        {% if registered_children %}
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Action</th>
            </tr>
            {% for student in registered_children %}
            <tr>
                <td>{{ student.student.first_name }}</td>
                <td>{{ student.student.last_name }}</td>
                <td>{{ student.student.username }}</td>
                <td><a href="{% url 'learning:student_dashboard' student.student.id %}" class="btn btn-secondary">View
                        Child</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No children yet...</p>
        {% endif %}
    </div>
</div>
{% endblock %}