{% extends 'learning/base.html' %}

{% block title_block %}
Parent Homepage
{% endblock %}

{% block body_block %}

<style>
    .content {
        font-size: 16px;
    }
</style>
<div class="content">
    <h1>Parent Homepage</h1>
    <p>Welcome to the parent page! Here you can acces the Parent Dashboard to manage your children.</p>
    {% if user.is_authenticated %}
    <a href="{% url 'learning:parent_dashboard' %}" class="btn btn-primary">Parent Dashboard</a>
    {% else %}
    <p>Please <a href="{% url 'auth_login' %}">login</a> to access the Parent Dashboard.</p>
    {% endif %}
</div>
{% endblock %}