{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Real-World Problems with Fractions
{% endblock %}
{% block body_block %}

<link rel="stylesheet" href="{% static 'css/lesson.css' %}">
<link rel="stylesheet" href="{% static 'css/popupimage.css' %}">

<header>
    <h1>Real-World Problems with Fractions</h1>
</header>
<div class="lesson-container">
    <div class="content">
        <main>
            <section>
                <h2>Introduction:</h2>
                <p>We can solve real-world problems by using addition and subtraction. In this lesson, we will be adding
                    fractions. A fraction is a representation of a part of a whole. The <b>numerator</b> is the value on
                    the top, and it represents the part. The <b>denominator</b> is the value on the bottom, and it
                    represents the whole.</p>
            </section>

            <section>
                <h2>Addition:</h2>
                <p>To add two fractions, they must have the same denominator, which we call a <b>common denominator</b>.
                    You add the numerators of each fraction, then the denominator remains the same. Reduce the fraction
                    if necessary.</p>
                <p><u>Example</u>: 1/5 + 2/5 = 3/5</p>
            </section>

            <section>
                <h2>Subtraction:</h2>
                <p>To subtract two fractions, they must have the same denominator, which we call a <b>common
                        denominator</b>. You subtract the numerators of each fraction, then the denominator remains the
                    same. Reduce the fraction if necessary.</p>
                <p><u>Example</u>: 6/7 - 4/7 = 2/7</p>
            </section>

            <section>
                <h2>You Try:</h2>
                <p> 36 of the cards in your deck are Trainer cards. What fraction of your cards are NOT Trainer cards?
                    Please write your answer as a fraction in simplest terms (for example: 3/14).</p>

                <p><u>Check your answer using the "Check Answer" button. Once you have the correct answer, submit the
                        practice using the "Submit Practice" button.</u></p>

                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/PrimeCatcher.png' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
                <!-- practice submission and feedback -->
                <form id="practice-form" onsubmit="checkAnswer(event)"
                    action="{% url 'learning:submit_practice' practice.slug %}" method="post">
                    {% csrf_token %}
                    <label for="notTrainers"><b>Fraction of cards that are not Trainers</b></label>
                    <select id="notTrainers" name="notTrainers" required>
                        <option value="" selected disabled>Select the correct fraction</option>
                        <option value="1/4">1/4</option>
                        <option value="2/5">2/5</option>
                        <option value="3/5">3/5</option>
                    </select>
                    <input type="submit" value="Check Answer" id="submitBtn">
                </form>
                <p id="feedback"></p>
                <form id="final-form" method="post" action="{% url 'learning:submit_practice' practice.slug %}"
                    style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="correct" value="True">
                    <button type="submit">Submit Practice</button>
                </form>
            </section>
        </main>
    </div>
    <div class="details">
        <h1>Algebraic Thinking Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='real-world-problems-with-whole-numbers' %}">Real-World
                    Problems with Whole Numbers</a></li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='real-world-problems-with-fractions' %}">Real-World
                    Problems with Fractions</a></li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='algebraic-thinking-quiz' %}">Algebraic Thinking
                    Quiz</a></li>
        </ul>
    </div>

    <script>
        function checkAnswer(event) {
            event.preventDefault(); // prevent default form submission

            var notTrainers = document.getElementById('notTrainers').value;
            var correctAnswer = '2/5';
            var feedback = document.getElementById('feedback');
            var selectField = document.getElementById('notTrainers');
            var submitButton = document.getElementById('submitBtn');
            var finalForm = document.getElementById('final-form'); // form to submit once the answer is correct

            // check for correct answer and provide feedback
            if (notTrainers === correctAnswer) {
                feedback.textContent = 'Correct! 36/60 cards are Trainers, so 24/60 (or 2/5) are not. Well done!';
                selectField.disabled = true; // disable input field
                submitButton.disabled = true; // disable submit button
                finalForm.style.display = 'block'; // show the final submission form
            } else {
                feedback.textContent = 'Incorrect. Please try again.';
            }
        }

        // Function to handle popup image display
        document.querySelectorAll(".image img").forEach(image => {
            image.onclick = () => {
                document.querySelector(".popup-image").style.display = "block";
                document.querySelector(".popup-image img").src = image.getAttribute("src");
            };
        });

        // Close the popup when clicking outside the image
        document.querySelector(".popup-image").onclick = (event) => {
            if (event.target.classList.contains('popup-image')) {
                document.querySelector(".popup-image").style.display = "none";
            }
        };
    </script>
</div><br>
{% endblock %}