{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Real-World Problems with Fractions
{% endblock %}
{% block body_block %}

<head>
    <link rel="stylesheet" href="{% static 'css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'css/popupimage.css' %}">
    <script src="{% static 'js/rw-fract.js' %}" defer></script>
</head>

<header>
    <h1>Real-World Problems with Fractions</h1>
</header>
<div class="lesson-container">
    <div class="content">
        <main>
            <section>
                <h2>Introduction:</h2>
                <p>We can solve real-world problems by using addition and subtraction. In this lesson, we will be adding
                    fractions. A fraction is a representation of a part of a whole. The <b>numerator</b> is the value on
                    the top, and it represents the part. The <b>denominator</b> is the value on the bottom, and it
                    represents the whole.</p>
            </section>

            <section>
                <h2>Addition:</h2>
                <p>To add two fractions, they must have the same denominator, which we call a <b>common denominator</b>.
                    You add the numerators of each fraction, then the denominator remains the same. Reduce the fraction
                    if necessary.</p>
                <p><u>Example</u>: 1/5 + 2/5 = 3/5</p>
            </section>

            <section>
                <h2>Subtraction:</h2>
                <p>To subtract two fractions, they must have the same denominator, which we call a <b>common
                        denominator</b>. You subtract the numerators of each fraction, then the denominator remains the
                    same. Reduce the fraction if necessary.</p>
                <p><u>Example</u>: 6/7 - 4/7 = 2/7</p>
            </section>

            <section>
                <h2>You Try:</h2>
                <p> 36 of the cards in your deck are Trainer cards. What fraction of your cards are NOT Trainer cards?
                    Please write your answer as a fraction in simplest terms (for example: 3/14).</p>

                <p><u>Check your answer using the "Check Answer" button. Once you have the correct answer, submit the
                        practice using the "Submit Practice" button.</u></p>

                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/PrimeCatcher.png' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
                <!-- practice submission and feedback -->
                <form id="practice-form" onsubmit="checkAnswer(event)"
                    action="{% url 'learning:submit_practice' practice.slug %}" method="post">
                    {% csrf_token %}
                    <label for="notTrainers"><b>Fraction of cards that are not Trainers</b></label>
                    <select id="notTrainers" name="notTrainers" required>
                        <option value="" selected disabled>Select the correct fraction</option>
                        <option value="1/4">1/4</option>
                        <option value="2/5">2/5</option>
                        <option value="3/5">3/5</option>
                    </select>
                    <input type="submit" value="Check Answer" id="submitBtn">
                </form>
                <p id="feedback"></p>
                <form id="final-form" method="post" action="{% url 'learning:submit_practice' practice.slug %}"
                    style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="correct" value="True">
                    <button type="submit">Submit Practice</button>
                </form>
            </section>
        </main>
    </div>
    <div class="details">
        <h1>Algebraic Thinking Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='real-world-problems-with-whole-numbers' %}">Real-World
                    Problems with Whole Numbers</a></li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='real-world-problems-with-fractions' %}">Real-World
                    Problems with Fractions</a></li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='algebraic-thinking-quiz' %}">Algebraic Thinking
                    Quiz</a></li>
        </ul>
        <p class="back"><a href="{% url 'learning:gr4' %}">Go back to the Grade 4 page</a></p>
    </div>
</div><br>
{% endblock %}