{% extends 'learning/base.html' %}
{% load static %}

{% block title_block %}
Representing Data
{% endblock %}
{% block body_block %}

<head>
    <link rel="stylesheet" href="{% static 'css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'css/popupimage.css' %}">
    <script src="{% static 'js/rep-data.js' %}" defer></script>
</head>

<style>
    .imgcontainer .image-container .image {
        height: 375px !important;
        width: 240px !important;
    }

    .frequency,
    .line,
    .bar {
        width: 50%;
        height: auto;
    }
</style>
<header>
    <h1>Representing Data</h1>
</header>

<div class="lesson-container">
    <div class="content">
        <main>
            <section>
                <h2>Introduction:</h2>
                <p>We can display data in many different ways. We will learn about <b>frequency tables</b>, <b>line
                        plots</b>, and <b>bar graphs</b>.</p>
            </section>

            <section>
                <h2>Frequency Tables:</h2>
                <p><b>Frequency</b> is the number of times a value occurs. A frequency table lists items and shows the
                    number of times the items occur.</p>
                <p><u>Example</u>: The frequency table below shows the results of asking 20 students to tell their
                    favorite subject. We can make different observations, such as Mathematics was the most popular
                    subject.</p>
                <img class="frequency" src="{% static 'images/frequency_table.jpg' %}"
                    alt="frequency table showing popularity of school subjects">
            </section>

            <section>
                <h2>Line Plots:</h2>
                <p>A line plot displays data as points above a number line, showing the frequency of each value.</p>
                <p><u>Example</u>: The line plot below shows the number of students in several different classrooms. We
                    can see that there are 4 classrooms with 29 students.</p>
                <img class="line" src="{% static 'images/line_plot.jpg' %}"
                    alt="line plot showing the number of students per classroom">
            </section>

            <section>
                <h2>Bar Graphs:</h2>
                <p>A bar graph displays bars of different heights. The bars represent a frequency or a number of items
                    for each category.</p>
                <p><u>Example</u>: The bar graph below shows the percentage of sales for each product category in a
                    store. We can observe that Electronics is the third most popular category.</p>
                <img class="bar" src="{% static 'images/bar_graph.jpg' %}"
                    alt="bar graph showing the percentage of sales for each product category in a store">
            </section>

            <section>
                <h2>You Try:</h2>
                <p> The following data was collected from NAIC 2024. These are the decks that made Day 2. True or False:
                    A bar graph could NOT be used to display this information. <b>Click on the image to view it in a
                        larger size</b>.</p>
                <p><u>Check your answer using the "Check Answer" button. Once you have the correct answer, submit the
                        practice using the "Submit Practice" button.</u></p>

                <div class="imgcontainer">
                    <div class="image-container">
                        <div class="image"><img src="{% static 'images/NAIC.jpeg' %}" alt=""></div>
                    </div>

                    <div class="popup-image">
                        <span>&times;</span>
                        <img src="" alt="" />
                    </div>
                </div>
                <br>
                <!-- practice submission and feedback -->
                <form id="practice-form" onsubmit="checkAnswer(event)"
                    action="{% url 'learning:submit_practice' practice.slug %}" method="post">
                    {% csrf_token %}
                    <label for="selection"><b>True or False?</b></label>
                    <select id="selection" name="selection">
                        <option value="" selected disabled>Select answer</option>
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                    <input type="submit" value="Check Answer" id="submitBtn">
                </form>
                <p id="feedback"></p>
                <form id="final-form" method="post" action="{% url 'learning:submit_practice' practice.slug %}"
                    style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="correct" value="True">
                    <button type="submit">Submit Practice</button>
                </form>
            </section>
        </main>
    </div>
    <div class="details">
        <h1>Data Analysis Content</h1>
        <ul>
            <li><a href="{% url 'learning:practice_detail' practice_slug='representing-data' %}">Representing Data</a>
            </li>
            <li><a href="{% url 'learning:practice_detail' practice_slug='interpreting-data' %}">Interpreting Data</a>
            </li>
            <li><a href="{% url 'learning:quiz_detail' quiz_slug='data-analysis-quiz' %}">Data Analysis Quiz</a></li>
        </ul>
        <p class="back"><a href="{% url 'learning:gr4' %}">Go back to the Grade 4 page</a></p>
    </div>
</div><br>
{% endblock %}