<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algebraic Thinking: Real-World Problems with Whole Numbers</title>
</head>
<body>
    <p>Real-World Problems with Whole Numbers</p>
    <a href="{% url 'learning:gr4' %}">Return to Grade 4 Homepage</a> <br>
    <a href="{% url 'learning:dashboard' %}">Student Dashboard</a> <br>
    <a href="{% url 'learning:students_home' %}">Student Home</a> <br>
    <a href="{% url 'learning:learning_home' %}">Learning Home</a> <br>
    <a href="{% url 'index' %}">Home</a>
</body>
</html>