{% extends 'learning/base.html' %}
{% load static %}
{% block title_block %}
Student Dashboard
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<style>
    .dashboard-container {
        align-items: flex-start;
    }

    .container-1 {
        flex: 2;
    }

    .container-2 {
        flex: 1;
        height: auto;
        min-width: 400px;
    }

    .badge-icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        opacity: 0.3;
    }

    .badge-icon.unlocked {
        opacity: 1;
    }

    .badge-icon.locked {
        opacity: 0.3;
    }
</style>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<header>
    <h1>Student Dashboard - {{ student.first_name }} {{ student.last_name }}</h1>
</header>

<p style="font-size: 20px;">Welcome to the Student Dashboard! Here you can view your completed practices and quizzes as
    well as the badges you have earned.</p>
<p style="font-size: 20px;">Once you have earned 100% on a quiz, you can click on its name to view the explanations of
    each answer.</p>

<div class="dashboard-container">
    <div class="container-1">
        <h2>Completed Practices:</h2>
        <table>
            <tr>
                <th>Practice Name</th>
                <th>Grade Level</th>
                <th>Unit</th>
                <th>Date of Completion</th>
            </tr>
            {% if completed_practices %}
            {% for practice in completed_practices %}
            <tr>
                <td>{{ practice.practice.title }}</td>
                <td>{{ practice.practice.grade_level }}</td>
                <td>{{ practice.practice.unit }}</td>
                <td>{{ practice.date_completed }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <p>No completed practices yet...</p>
            {% endif %}
        </table> <br>

        <h2>Completed Quizzes:</h2>
        <table>
            <tr>
                <th>Quiz Name</th>
                <th>Grade Level</th>
                <th>Unit</th>
                <th>Date of Completion</th>
                <th>Quiz Score</th>
            </tr>
            {% if completed_quizzes %}
            {% for quiz in completed_quizzes %}
            <tr>
                <td>{% if quiz.perfect_score %}
                    <a href="{% url 'learning:quiz_explanations' quiz.quiz.slug %}">{{ quiz.quiz.title }}</a>
                    {% else %}
                    {{ quiz.quiz.title }}
                    {% endif %}
                </td>
                <td>{{ quiz.quiz.grade_level }}</td>
                <td>{{ quiz.quiz.unit }}</td>
                <td>{{ quiz.date_completed }}</td>
                <td>{{ quiz.score }} / 5</td>
            </tr>
            {% endfor %}
            {% else %}
            <p>No completed quizzes yet...</p>
            {% endif %}
        </table> <br>
    </div>

    <div class="box-container">
        <div class="container-2">
            <h2>Badges:</h2>
            <ul>
                {% for item in badges_with_status %}
                <li>
                    <img src="{% static 'images/'|add:item.badge.icon %}" alt="{{ item.badge.name }}"
                        class="badge-icon {% if item.completed %}unlocked{% else %}locked{% endif %}">
                    {{ item.badge.name }}
                    {% if item.completed %}
                    - completed on {{ item.date_completed }}
                    {% else %}
                    - Locked
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="container-3">
            <h2>Progress:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Grade Level</th>
                        <th>Practices Completed</th>
                        <th>Quizzes Completed</th>
                        <th>Units Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% if progress_data %}
                    {% for level in progress_data %}
                    <tr>
                        <td>{{ level.level.name }}</td>
                        <td>
                            {{ level.practice_count }} / {{ total_practices }} = 
                            <b>{{ level.practice_percentage|floatformat:1 }}%</b>
                        </td>
                        <td>
                            {{ level.quiz_count }} / {{ total_quizzes }} = <b>{{ level.quiz_percentage|floatformat:1 }}%</b>
                        </td>
                        <td>
                            {{ level.unit_count }} / {{ total_units }} = <b>{{ level.unit_percentage|floatformat:1 }}%</b>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p>No data yet...</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}