<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students homepage</title>
</head>
<body>
    <p>Students home page</p>
    <a href="{% url 'learning:dashboard' %}">Student Dashboard</a> &nbsp;&nbsp;
    <a href="{% url 'learning:gr1' %}">Grade 1</a> &nbsp;&nbsp;
    <a href="{% url 'learning:gr2' %}">Grade 2</a> &nbsp;&nbsp;
    <a href="{% url 'learning:gr3' %}">Grade 3</a> &nbsp;&nbsp;
    <a href="{% url 'learning:gr4' %}">Grade 4</a> &nbsp;&nbsp;
    <a href="{% url 'learning:gr5' %}">Grade 5</a> &nbsp;&nbsp;
    <a href="{% url 'learning:gr6' %}">Grade 6</a> &nbsp;&nbsp;
    <a href="{% url 'learning:gr7' %}">Grade 7</a> &nbsp;&nbsp;
    <a href="{% url 'learning:gr8' %}">Grade 8</a> <br>
    <a href="{% url 'learning:learning_home' %}">Learning Home</a> <br>
    <a href="{% url 'index' %}">Home</a>
</body>
</html>